language: php

php:
    - 5.4
    - 5.5
    - 5.6
    - 7
    - hhvm

before_script:
    - composer install

script: ./vendor/bin/phpunit -c tests/phpunit.xml

matrix:
    allow_failures:
        - php: 7
        - php: hhvm

branches:
    only:
        - master