<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="./bootstrap.php"
    colors="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    forceCoversAnnotation="true">
    <php>
        <const name="TEST_DATA_DIR" value="_data"/>
    </php>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../src/</directory>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="MailMimeParser">
            <directory suffix="Test.php">MailMimeParser</directory>
        </testsuite>
    </testsuites>
</phpunit>
